
/* General style */

.App {
  text-align: center;

}

.b-align-center {
  margin-right: auto;
  margin-left: auto;
}

.t-align-center {
  text-align: center;
}

.ghost {
  border: 2px solid blue;
  border-radius: .5em;
  padding: .5em;
  background: transparent;
  color: blue;
}

.primary {
  border: 2px solid blue;
  border-radius: .5em;
  padding: .5em;
  background: blue;
  color: white;
}

/* Loader styling */

.loading-overlay {
  height: 100vh;
  width: 100vw;
  position: static;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);
  transition: 1s;
  -moz-box-shadow:    inset 10px 40px 60px #000000;
  -webkit-box-shadow: inset 10px 0 80px #000000;
  box-shadow:         inset 0 0 60px #000000;
}

.loading-container {
  padding-top: 25vh;
  padding-bottom: 25vh;
  transition: .5s;
}

.loading-img {
  height: 50vh;
  width: auto;
  transition: .5s;
}

/* Login style */

.site-input {
  border-bottom: 2px solid black;
  margin-right: .5em;
  width: 100px;
}

/* Dashboard Styling */

.dashboard {

}

    /* Header styling */

.dash-header {
  margin-top: 30px;
  padding-top: 20px;
  width: 100%;
}
.site-name {
  position: absolute;
  top: 3px;
  left: 5%;
  font-size: 80%;
  font-weight: bold
}

.dividia-name {
  position: absolute;
  top: 18px;
  left: 5%;
  font-size: 80%;
  font-weight: bold;
}

.date-picker {
  float: left;
  margin-left: 5%;
  margin-bottom: 10px;
}

.logo {
  position: absolute;
  top: 14px;
  right: 8%;
  height: 60px;
  width: auto;
}

/* Footer styling */

.dash-footer {
  margin-top: 15px;
}

.btn-group {
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em;
}

.desc {
  margin-top: -.25em
}

.play, .events, .snap, .back {
  border: 4px solid black;
  border-radius: 1em;
  padding: .25em;
  margin: .5em;
  transition: .5s;
  width: 35px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);
}

.play:hover, .events:hover, .snap:hover, .back:hover{
  cursor: pointer;
  background: lightgrey;
}

.play {
}

.events {
}

.snap {
 
}

.play-btn, .events-btn, .snap-btn, .back-btn {
  height: 30px;
  width: 30px;
}

.play-btn:hover, .events-btn:hover, .snap-btn:hover, .back-btn:hover {
  
}

.play-btn {
  
}

.events-btn {
}

.snap-btn {

}

/* Thumbnail container */

.thumb-container {
  list-style: none;
  width: 100%;
  height: 130px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
  margin-right: auto;
  margin-left: auto;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey; 
  padding-top: .5em;
}

.thumb-li {
 display: inline-block;
 box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5); 
 border-radius: 1em;
 margin: .25em;
 padding: .25em;
 border: 2px solid rgba(0,0,0,0);
 transition: .5s;
}

.thumb-li:hover {
  background-color: rgba(0,0,0,.1);
 
}

.thumb-img {
  padding: .5em;
  height: 70px;
  width: 90px;
  border-radius: 1em;
  margin-bottom: -.5em;
}

.thumb-time {
  font-size: 50%;
  font-weight: bold;
}

/* Viewer container */

.viewer-container {
  width: 80vw;
  max-width: 500px;
  height: 40vh;
  max-height: 300px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
  border-radius: 1em;
}

.full-img {
  width: 80vw;
  max-width: 500px;
  height: 40vh;
  max-height: 300px;
  border-radius: .75em;
}