
/* General style */

.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  background: url('./steel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.b-align-center {
  margin-right: auto;
  margin-left: auto;
}

.t-align-center {
  text-align: center;
}

.ghost {
  border: 2px solid blue;
  border-radius: .5em;
  padding: .5em;
  background: transparent;
  color: blue;
}

.primary {
  border: 2px solid blue;
  border-radius: .5em;
  padding: .5em;
  background: blue;
  color: white;
}

/* Loader styling */

.loading-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  transition: 1s;
  -moz-box-shadow:    inset 10px 40px 60px #000000;
  -webkit-box-shadow: inset 10px 0 80px #000000;
  box-shadow:         inset 0 0 60px #000000;
  z-index: 5;
}

.loading-container {
  padding-top: 25vh;
  padding-bottom: 25vh;
  transition: .5s;
}

.loading-img {
  height: 50vh;
  width: auto;
  transition: .5s;
}

/* Login style */

.dash-container {
  padding-top: .2em;
}

.dash-container h1 {
  font-size: 130%;
  padding: 1em;
  margin-bottom: -1em;
  margin-top: -.25em;
}

.dividia {
  font-size: 160%;
  font-weight: bold;
  opacity: .6;
  color: black;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);
}

.site-input {
  border-bottom: 2px solid black;
  margin-right: .5em;
  width: 100px;
  border: 2px solid black;
  border-radius: .5em;
  padding: .25em;
  font-size: 120%;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);
  text-align: center;
}

.dash-container span {
  font-size: 120%;
  font-weight: bold;
}

.main-logo {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.dash-container button {
  font-size: 160%;
  font-weight: bold;
  padding: .25em;
  border: 2px solid black;
  border-radius: .5em;
  background: transparent;
  margin-top: 1em;
  transition: .5s;
}

.dash-container button:hover {
  cursor: pointer;
  border: 2px solid green;
  background-color: green;

}

/* Dashboard Styling */

.dashboard {
  max-width: 100vw;
  max-height: 100vh;
  zoom: 1;
  position: fixed;
}

    /* Header styling */

.dash-header {
  margin-top: 30px;
  padding-top: 20px;
  width: 100%;
}
.site-name {
  position: absolute;
  top: 3px;
  left: 5%;
  font-size: 80%;
  font-weight: bold
}

.dividia-name {
  position: absolute;
  top: 18px;
  left: 5%;
  font-size: 80%;
  font-weight: bold;
}

.date-picker {
  float: left;
  margin-left: 5%;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0, .5);
  border-radius: .5em;
}

.logo {
  position: absolute;
  top: 10px;
  right: 4%;
  height: 70px;
  width: auto;
  border-radius: .5em;
}

/* Footer styling */

.dash-footer {
  margin-top: 15px;
}

.btn-group {
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em;
}

.desc {
  margin-top: -.25em
}

.play, .events, .snap, .back {
  border: 4px solid rgba(227,190,66,1);
  border-radius: 1em;
  padding: .25em;
  margin: .5em;
  transition: .5s;
  width: 35px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);
  background-color: rgba(227,190,66,1);
  font-weight: bold;
}

.play:hover, .events:hover, .snap:hover, .back:hover{
  cursor: pointer;
  background-color: transparent;
}

/* .play {
}

.events {
}

.snap {
 
} */

.play-btn, .events-btn, .snap-btn, .back-btn {
  height: 30px;
  width: 30px;
}

/* .play-btn:hover, .events-btn:hover, .snap-btn:hover, .back-btn:hover {
  
}

.play-btn {
  
}

.events-btn {
}

.snap-btn {

} */

#show {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  background: rgba(0,0,0,.6);
}

/* Thumbnail container */

.thumb-container {
  list-style: none;
  width: 100%;
  height: 138px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
  margin-right: auto;
  margin-left: auto;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey; 
  padding-top: .2em;
  background-color: rgba(227,190,66,1);
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,.5); 
}

.thumb-li {
 display: inline-block;
 box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5); 
 border-radius: 1em;
 margin: .25em;
 padding: .25em;
 border: 2px solid rgba(0,0,0,0);
 transition: .5s;
 background-color: white;
}

.thumb-li:hover {
  background-color: rgba(0,0,0,.1);
 
}

.thumb-img {
  padding: .5em;
  height: 70px;
  width: 90px;
  border-radius: 1em;
  margin-bottom: -.5em;
}

.thumb-time {
  font-size: 50%;
  font-weight: bold;
}

/* Viewer container */

.viewer-container {
  width: 80vw;
  max-width: 500px;
  height: 40vh;
  max-height: 300px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
  border-radius: 1em;
  position: relative;
}

.full-img {
  width: 80vw;
  max-width: 500px;
  height: 40vh;
  max-height: 300px;
  border-radius: .75em;
}

.viewer-img-time {
  position: absolute;
  bottom: -.96em;
  right: 0;
  background-color: rgba(255,255,255,.6);
  padding: .25em;
  border-bottom-right-radius: .8em;
  font-size: 90%;
  font-weight: bold;
}

/* Timelapse */

.timelapse-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  transition: 1s;
  -moz-box-shadow:    inset 10px 40px 60px #000000;
  -webkit-box-shadow: inset 10px 0 80px #000000;
  box-shadow:         inset 0 0 60px #000000;
  z-index: 5;
}

.timelapse-container {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  margin: auto;
  height: 340px;
  width: 80vw;
  max-width: 400px;
  background: url('./steel.jpg');
  z-index: 10;
  border-radius: 1em;
}

.cancel {
  font-size: 150%;
  position: absolute;
  top: 5px;
  left: 5px;;
  color: white;
  font-weight: bold;
  border-radius: .5em;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,.5);
}

.cancel:hover {
  cursor: pointer;
}


.timelapse-heading {
  margin-top: 3em;
  font-size: 140%;
}

.date-error {
  color: red;
  font-size: 90%;
  background: rgba(255,255,255,.6);
  padding: .5em;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: .5em;
}

.timelapse-container label {
  font-size: 90%;
  font-weight: bold;
  margin: .5em;
}

.timelapse-end {
  margin-top: 1em;
}

.timelapse-container input {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 90%;
  border-radius: .5em;
  width: 130px;
}

.timelapse-submit-btn {
  margin-top: 1.5em;
  font-size: 120%;
  font-weight: bold;
  padding: .25em;
  border: 2px solid black;
  border-radius: .5em;
  transition: .5s;
}

.timelapse-submit-btn:hover {
  cursor:pointer;
  background-color: green;
  border: 2px solid green;
  color: white;
}
/* Events styling  */

.events-wrapper {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  transition: 1s;
  -moz-box-shadow:    inset 10px 40px 60px #000000;
  -webkit-box-shadow: inset 10px 0 80px #000000;
  box-shadow:         inset 0 0 60px #000000;
  z-index: 5;
  transition: 1s;
}

.events-container {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url('./steel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
  border-left: rgba(0,0,0,.8);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-left: 4px solid rgba(255,255,255,.9);
  box-shadow: 2px 2px 4px 10px rgba(0,0,0,.9);
}

.events-container h1 {
  font-size: 160%;
}

.video-event-li {
  margin: 0;
  list-style-type: none;
  padding: .15em;
  border: 2px solid black;
  border-radius: 1em;
  background-color: white;
  margin: .25em;
  width: 100%;
  position: relative;
  right: 25px;
  transition: 1s;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
}

.video-event-li p {
  font-size: 90%;
  font-weight: bold;
  margin: .25em;
}

.progress-block {
  display: inline;
}

#progress-bar-container {
  width: 190px;
  background-color: grey;
  border-radius: 1em;
  float: left;
  margin-left: .25em;
  margin-right: .25em;
  margin-top: .55em;
}

.progress-bar {
  width: 2%;
  height: 10px;
  background-color: green;
  border-radius: 50px;
  margin-left: .1em;
}

.download-btn {
  border: 2px solid black;
  border-radius: .5em;
  padding: .5em;
  font-size: 100%;
  font-weight: bold;
  clear: both;
  background: transparent;
  margin-left: 160px;
}

.download-btn:hover {
  background-color: rgba(227,190,66,1);
  border: 2px solid rgba(227,190,66,1);
}

.retrieved {
  border: 2px solid green;
  border-radius: .5em;
  padding: .5em;
  font-size: 100%;
  font-weight: bold;
  clear: both;
  background: green;
  margin-left: 160px;
  color: white;
  width: 85px;
}

.percentage {
  float: left;
}